body {
  background: rgb(36, 34, 34);
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

.header {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.headerImg {
  width: 70%;
}

.scoreSummary {
  width: 100%;
  padding: 5px;
  line-height:28px;
  text-align: center;
  margin-bottom: 20px;	
  color: #ccc;
}

h1, h3 {
  text-align: center;
  color: #ccc;
}

#footer {
  padding-top: 40px;
}


/* =======MEDIA QUERIES====== */

/* tweak font size/spacing for devices */
@media (max-width: 1200px) {
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 80%;
    padding: 5px;
  }  
}

@media (max-width: 767px) {
  .scoreSummary {
    line-height: 16px;
    margin-bottom: 0px;	

  }
  #footer {
    padding-top: 0px;
  }
}