.card {
  background: #323dcf;
  border-radius: 3px;
  width: 200px;
  height: 200px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px #000, 0 3px 6px #000;
  transition: transform .2s;
}

.card:hover {
 
  box-shadow: 0 0 20px #ccc, 0 0 20px #ccc;
  transform: scale(1.05);
}

.flexContainer {
  padding: 10px;
  margin: 6px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flexItem {
  padding: 5px;
  margin-top: 10px; 
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


/* =======MEDIA QUERIES====== */

/* reduce card & image size a bit for laptop & tablets */
@media (max-width: 1200px) {
  .tformerImg {
    width: 120px;
    height: 120px;
  }
  .card {
    width: 120px;
    height: 120px;
  }
}


@media (max-width: 767px) {
  /* remove hover on mobile */
  .card:hover {
     cursor: none;
     box-shadow: 0 3px 6px #000, 0 3px 6px #000;
     transform: scale(1);
  }
  /* reduce card size for mobile */
   .card {
    width: 65px;
    height: 65px;
  }
  /* reduce image size for mobile */
  .tformerImg {
    width: 65px;
    height: 65px;
  }
}









